
<form action="/action/updateStylist/$stylist.getId()" method="post">
<div class="form-group has-success has-feedback" action="/action/updateStylist/$stylist.getId()" method="post">
  <label class="control-label" for="stylist_name">Update $stylist.getName()'s name: </label>
  <input type="text" class="form-control" id="stylist_name" name="stylist_name" aria-describedby="stylist_name">
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  <span id="inputSuccess2Status" class="sr-only">(success)</span>
</div>
<button type="submit" class="btn btn-success">Submit New Name</button>
